
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Memes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Link</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#">Disabled</a>-->
<!--            </li>-->
        </ul>
        <form class="form-inline mt-2 mt-md-0" method="get" action="{% url 'login' %}">
            {% if logged_in %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i>&nbspWelcome-{{request.session.username}}</a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a class="last-login">Last login:{{request.session.time}}</a>
                        <li><a class="dropdown-item btn" data-toggle="modal" href="#myModal">Change password</a>
                        <li><a class="dropdown-item" href="{% url 'logout' request.session.username 1 %}">Logout</a>
                    </ul>
                </li>
            {% else %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Login/Sign Up</button>
            {% endif %}
        </form>
    </div>
</nav>

